<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Students Data</title>
</head>
<body>
    <%-include ../partials/header%>
    <div class="container">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
              <h1 class="display-4">Songs Data</h1>
            </div>
          </div>
    </div>
    <!-- <div class="container md-3">
            <a href="/songs/add"  class="btn btn-success">Add new song </a>
    </div> -->
    <br>
    <div class="container">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Singer Name</th>                       
                        <th scope="col">released Year</th>
                        <th scope="col">Has been released</th>
                        <th scope="col">rating</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>    
                    <% for (let i = 0; i < playlists.Songs.length; i++) {%>                 
                      <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= playlists.Songs[i].title%></td>
                        <td><%= playlists.Songs[i].singerName%></td>
                        <td><%= playlists.Songs[i].releasedYear%></td>
                        <td><%= helpers.countYear(playlists.Songs[i].releasedYear)%></td>
                        <td><%= helpers.getStar(playlists.Songs[i].rating)%></td>
                       
                       
                        <td><a href="/songs/<%=playlists.id%>/edit" class="btn btn-primary">Edit</a></td>
                        <td><a href="/songs/<%=playlists.id%>/delete" class="btn btn-danger">Delete</a></td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
    </div>

    
    <%-include ../partials/footer%>
</body>
</html>