<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include ./partials/header %>    
  </head>

  <body>
      <%- include ./partials/bodyHead %>
    <!-- Page Content -->
    <div class="container">
       
      <br>
          <div class="jumbotron">
            <h1 class="display-4">Sorted Book</h1>
            <p class="lead">This is the lists of books.</p>
            <hr class="my-4">         
          </div>

        <div class="col-lg-9">

          

          <div class="row">
          <% for (let i = 0; i < book.length; i++) { %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://localhost:8000/static/uploads/<%= book[i].image%>" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= book[i].name%></a>
                  </h4>
                  <h5>Rp. <%= book[i].price%></h5>
                  <p class="card-text"><%= book[i].description%></p>
                </div>
                <form action="/transaction/" method="post">
                    <input name="qty" type="text" placeholder="Qty ...">
                    <input type="hidden" name="book" value="<%= book[i].id%>" id="">
                    <button type="submit">Buy Now</button>
                </form>
                
              </div>
            </div>   
             
            <%}%>     
           

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%- include ./partials/footer %>    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
