<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include ./partials/header %>    
  </head>

  <body>
      <%- include ./partials/bodyHead %>
    <!-- Page Content -->
    <div class="container">
       
      <br>
          <div class="jumbotron">
            <h1 class="display-4">Shopping Cart</h1>           
            <hr class="my-4">         
          </div>

          <div class="container">
            <table class="table">
                    <thead>
                      <tr>                 
                        <th>No</th>      
                        <th scope="col">Book ID</th>                       
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>    
                    <%  let total = 0; for (let i = 0; i < books.length; i++) 
                    { total += books[i].total * books[i].price
                        %>                 
                      <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= books[i].id%></td>                       
                        <td><%= books[i].name%></td>
                        <td><%= books[i].price%></td>
                        <td><%= books[i].total%></td>
                        <td><%= books[i].total * books[i].price%></td>                                          
                        <td> <a href="/admin/categories/<%= books[i].id %>/delete %>" class="btn btn-danger">Delete</a></td>
                      </tr>
                    <% } %>
                    </tbody>                  
                  </table>
                  <form action="/transaction/checkout/" method="post">
                    <input type="hidden" value="<%= books[0].TransactionId%>" name="TransactionId">
                    <input type="hidden" value="<%= total%>" name="total">
                    <button class="btn btn-info">Chekout</button>
                  </form>
                 
    </div>
       

      </div>
    
    
   

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
